.navbar{
    background-color: turquoise;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    align-items: center;
   
}
.navbar a {
    color: midnightblue;
}
.navbar a:hover {
    color: white    
}